.contact-host-button {
  width: 100%;
  border: none;
  height: 36px;
  border-radius: 12px;
  background-color: var(--main-red);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 8px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2 ease;

  &:hover {
    background-color: #87280f;
  }
}
