.home-page-container {
  width: 80%;
  margin: 0 auto;

  h1 {
    color: var(--main-red);
    font-size: 2rem;
    font-weight: 700;
    line-height: 143%;
    text-align: center;
  }

  .home-page-header p {
    line-height: 143%;
    text-align: center;
  }

  .homepage-img {
    margin-top: 40px;
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
  }
}
