.property-info-section {
  background-color: var(--white);
  border-radius: 10px;
  width: 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// Version mobile
@media (max-width: 768px) {
  .property-info-section {
    width: 100%;
    padding: 20px;
  }
}
