.property-equipment-section {
  width: 50%;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  h2 {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
  }
}

.tag-equiments-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 40px;
}

.equipment-tag {
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  gap: 10px;
  font-size: 0.75rem;
  cursor: pointer;

  input {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

// Version mobile
@media (max-width: 768px) {
  .property-equipment-section {
    width: 100%;
    padding: 24px;
  }

  .tag-equiments-container {
    gap: 16px;
  }
}
