.add-property-page {
  width: 80%;
  margin: 0 auto;

  a {
    background-color: var(--light-gray);
    // padding: 8px 16px;
    height: 36px;
    width: 93px;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .arrow-left-icon {
    height: 15px;
    width: 25px;
    color: #000000;
  }
}

form {
  width: 100%;
}

.form-header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .add-property-btn {
    border: none;
    height: 36px;
    width: 96px;
    background-color: var(--main-red);
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.form-top {
  margin-top: 50px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.form-bottom {
  margin-top: 50px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.form-top-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// Style global pour les labels et inputs
.input-label {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-size: 0.875rem;
    font-weight: 500;
  }

  input {
    padding: 16px 10px;
    height: 40px;
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    font-size: 0.75rem;
    color: var(--dark-gray);
  }

  textarea {
    font-family: "Inter", sans-serif;
    padding: 16px 10px;
    height: 120px;
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    font-size: 0.75rem;
    color: var(--dark-gray);
    resize: vertical;
  }
}

// Version mobile
@media (max-width: 768px) {
  .add-property-page {
    width: 90%;
  }

  .form-top {
    flex-direction: column;
  }

  .form-top-right {
    width: 100%;
  }
}
